.c1{
	background-color:#ffcc99;
}
.c2{
	background-color: #ffff99;
}
.c3{
	background-color: #99ccff;
}
.c4{
	background-color: #ff8080;
}
.c5{
	background-color: #80ffbf;
}
.c6{
	background-color: #79ff4d;
}
.c7{
	background-color: #ffa64d;
}
.c8{
	background-color: #ff6666;
}
.c9{
	background-color: #75a3a3;
}
.c10{
	background-color: #ff80ff;
}
.c11{
	background-color: #ff80bf;
}
.c12{
	background-color: #adad85;
}